{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in {{ location.name }}, {{ location.country.code }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ location.name }}, {{ location.country.code }}</h1>

        <style>
            body {
                background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49474");
            }
        </style>

        <ul>
            {% for measurement in measurements %}
                <li>{{ measurement.date|date('d.m.Y') }}: {{ measurement.temperature }}&deg;C</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}